body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #007bff85 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-container {
  background-color: #007bff;
}
.content-div {
  /* border-left: 1px solid #007bff;
  border-right: 1px solid #007bff; */
  background: #7abaff;
}
.modal {
  /* position: relative !important; */
}
.category-container {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.text-ellipses {
  max-width: 0.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
